# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de build
build/
dist/
*.local/

# Ambientes
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de configuração específicos de editores
.vscode/
.idea/

# Arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de configuração do sistema
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros arquivos específicos do projeto
*.cache/
*.pid
